exportPattern("^[^\\.]")
import(utils)
import(MASS)
import(torch)
import(hdf5r)
importFrom(hdf5r, H5File)
importFrom(numDeriv, jacobian)
importFrom(PerformanceAnalytics, M3.MM)
importFrom(PerformanceAnalytics, M4.MM)
importFrom(methods,setRefClass)
importFrom(qgraph, qgraph)
S3method(print, mcmmodelclass)
S3method(as.data.frame, mcmresultclass)
S3method(plot, mcmresultclass)
S3method(plot, mcmmodelclass)
S3method(summary, mcmresultclass)
S3method(as.data.frame, mcmresultsummaryclass)
S3method(plot, mcmresultsummaryclass)
S3method(abs, mcmgradienthistoryclass)
S3method(log, mcmgradienthistoryclass)
S3method(log10, mcmgradienthistoryclass)
S3method(sqrt, mcmgradienthistoryclass)
S3method(min, mcmgradienthistoryclass)
S3method(max, mcmgradienthistoryclass)
S3method(as.data.frame, mcmgradienthistoryclass)
S3method(as.matrix, mcmgradienthistoryclass)
S3method(plot, mcmgradienthistoryclass)
S3method(summary, mcmgradienthistoryclass)
S3method(abs, mcmmultigradienthistoryclass)
S3method(min, mcmmultigradienthistoryclass)
S3method(max, mcmmultigradienthistoryclass)
S3method(as.data.frame, mcmmultigradienthistoryclass)
S3method(as.matrix, mcmmultigradienthistoryclass)
S3method(plot, mcmmultigradienthistoryclass)
S3method(summary, mcmmultigradienthistoryclass)
S3method(log, mcmmultigradienthistoryclass)
S3method(log10, mcmmultigradienthistoryclass)
S3method(sqrt, mcmmultigradienthistoryclass)