exportPattern("^[^\\.]")
import(utils)
import(MASS)
import(torch)
import(hdf5r)
importFrom(numDeriv, jacobian)
importFrom(PerformanceAnalytics, M3.MM)
importFrom(PerformanceAnalytics, M4.MM)
importFrom(methods,setRefClass)
importFrom(qgraph, qgraph)
S3method(print, mcmmodelclass)
S3method(as.data.frame, mcmresultclass)
S3method(plot, mcmresultclass)
S3method(plot, mcmmodelclass)
S3method(summary, mcmresultclass)
S3method(as.data.frame, mcmresultsummaryclass)
S3method(plot, mcmresultsummaryclass)
