exportPattern("^[^\\.]")
import(utils)
import(MASS)
import(PerformanceAnalytics)
import(numDeriv)
import(torch)
importFrom(methods,setRefClass)
importFrom(qgraph, qgraph)
S3method(as.data.frame, mcmresultclass)
S3method(plot, mcmresultclass)
S3method(plot, mcmmodelclass)
S3method(summary, mcmresultclass)
S3method(as.data.frame, mcmresultsummaryclass)
S3method(plot, mcmresultsummaryclass)
